body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

p::before {
  content: "Abhishek";
  font-size: 2rem;
  background: red;
  width: 10px;
  height: 10px;
}
p::after {
  content: "";
  display: block;
  font-size: 2rem;
  background: blue;
  /* width: 10px; */
  height: 2px;
  text-decoration: underline;
}
